{% extends 'base.html' %}

{% block title %}{% block header %} Another Day's Schedule {% endblock %}{% endblock %}
{% block navbar %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'employees:today' %}">Today's Schedule</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#">Future Routes</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#">Assigned Customers</a>
</li>
{% endblock %}
{% block content %}
  {% if user.is_authenticated and employee_exists != True  %}
    Click below for employee orientation!
    <a href="{% url 'employees:onboard' %}">Onboard</a>
  {% elif user.is_authenticated %}
<h3>Hello Employee {{ user.username }}!</h3><br>
     <tr>
        <td><h3 align="center">What day would you like to see?</h3></td>
        <td><form action="{% url 'employees:scheduler' %}" method="post">
    {% csrf_token %}
  <input type="date" name="date" id="date"><br>
  <input type="submit" value="View schedule" class="btn btn-dark">
        </form></td></tr>
{% for customer in customers %}
  <li>
    <ul>
      <li>{{customer.name}}</li>
      <li>{{customer.address}}</li>
      {% if customer.pickup_day != day %}
      <ul>
      <li>This is a One Time Pickup</li>
      </ul>
      {% endif %}
    </ul>
  </li>
{% endfor %}
  </ul>
  {% else %}
    <p>You are at the employee Daily Schedule, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}