{% extends 'base.html' %}
{# This top line allows this template to utilizing the styling and layout from the base. All your templates should do the same. #}

{% block title %} Customer Home {% endblock %}

{% block navbar %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'customers:pickup_day' %}">Service Day</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'customers:suspend' %}}">Schedule Suspension</a>
</li>
<li class="nav-item">
  <a class="nav-link active" href="{% url 'customers:account_info' %}">Account Info</a>
</li>
{% endblock %}

{% block header %} Account Info {% endblock %}

{% block content %}
  {% if customer_exists != True and user.is_authenticated %}
    Hey we see you aren't registered yet. Click below for onboarding!
    <a href="{% url 'customers:onboard' %}">Onboard</a>
  {% elif user.is_authenticated %}
    <h1 align="center">Hello {{ user.username }}!</h1><br>
    <table align="center" width="80%">
        <tr>
            <td><h3 align="center">Account Details</h3></td>
            <td><form action="{% url 'customers:account_info' %}" method="post">
        {% csrf_token %}
    Name:<input type="text" name="name" id="name" class="btn btn-dark" value="{{ customer.name }}" ><br>
    <div>Pickup Day: <select name="day" id="day" type="text" class="btn btn-dark">Pickup Day:
        <option value="Monday">Monday</option>
        <option value="Tuesday">Tuesday</option>
        <option value="Wednesday">Wednesday</option>
        <option value="Thursday">Thursday</option>
        <option value="Friday">Friday</option>
    </select>
        </div>
    Address:<input type="text" name="address" id="address" class="btn btn-dark" value="{{ customer.address }}" ><br>
    Zipcode:<input type="text" name="zip" id="zip" class="btn btn-dark" value="{{ customer.zipcode }}" ><br>
    <input type="submit" value="Update Account Info" class="btn btn-dark">
    </form></td>
        </tr>
    </table>
  {% else %}
    <p>You are at the customer index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}
